<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Oldal nem található</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Valami elromlott. Ez az oldal nem létezik.</p>
        </LayoutView>
    </NotFound>
</Router>